name: frontend
description: A new Flutter project for student attendance tracking.
publish_to: 'none' 
version: 1.0.0+1

environment:
  sdk: '>=3.2.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  
  # For making API calls to the backend
  http: ^1.2.1

  # For the QR code scanner functionality
  mobile_scanner: ^5.1.1

  # For saving the login token securely
  shared_preferences: ^2.2.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true